<!doctype html>
{% block html %}<html amp>{% end block %}
<head>
<meta charset="utf-8">
	<link rel="canonical" href="{{ canonical_url }}" >
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<style amp-custom>
	{% block amp-css %}{% endblock %}
	</style>
</head>
<body>
	{% block amp-body %}{% endblock %}
</body>
</html>